*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    padding: 0px;
    margin: 0px;
 
}
header{
    background-image:linear-gradient(100deg, #ffff 50%, #f6b400 50%);
    background-color: #f6b400;
}
.logo{
    display: flex;
}
.plogo span{
    color: #f6b400;
    font-size: 30px;
}
    
.navlist{
    float: right;
    display: inline;
    position: relative;
    top: -70px;
}
.navlist a{
    width: 30px;
    padding-right: 200px;

}
.navbuttons li{
    display: flex;
    display: inline;
    list-style: none;
    width: 50px;
    padding-right: 20px;
}

.bunner{
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}
.btext{
    padding-top: 100px;
    padding-bottom: 100px;
}
.btext p{
    padding-top: 50px;
    padding-bottom: 50px;
}
.order{
    margin-left: 3em;
    padding: 15px;
    border: none;
    border-radius: 10px 10px 0px 10px;
    background-color: #f6b400;
    color: white;
}

.more{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 9% 5% 5% 5%;
}

.moreone{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin:4% 2%;
}
.moretwo{
    border-style: solid;
    border-color: black;
    border-radius: 10px; 
}
.morethree{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 4% 2%;
}

.menu{
    text-align: center;
    border-bottom: #f6b400;
}
.menu span{
    color: #f6b400;
}
.menucontent{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.menu h2{
    color: chocolate;
}
.dbone{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.dbtwo{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.dbthr{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.menutwo{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.dd span{
    color: #f6b400;
}
